* {
  box-sizing: border-box;
}

.homeScreen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #dff8f2;
  padding-top: 13px;
  width: 393px;
  height: 852px;
  overflow: hidden;

  .autoWrapper {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 21px;
    padding-left: 27px;

    .a1039Am {
      margin: 6px 0px 0px;
      line-height: 21px;
      letter-spacing: 0;
      color: #000000;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 700;
    }

    .signal {
      margin-left: 189px;
      width: 25px;
      height: 25px;
      overflow: hidden;
    }

    .wifi {
      margin-left: 9px;
      width: 25px;
      height: 25px;
      overflow: hidden;
    }
  }

  .autoWrapper4 {
    position: relative;
    margin-top: 5px;
    width: 459px;
    height: 914px;

    .vector {
      width: 25px;
      height: 25px;
    }

    .basemapImage {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      justify-content: space-between;
      padding: 27px 79px 219px 13px;
      width: 459px;
      height: 914px;
      background-image: url(../image/mi34qztd-4tijt5b.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .autoWrapper2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .ellipse4 {
          display: flex;
          align-items: center;
          align-self: stretch;
          border: 1px solid #888585;
          border-radius: 50%;
          background: #ffffff;
          padding: 28px 30px 29px;

          .userAlt {
            width: 25px;
            height: 25px;
            overflow: hidden;
          }
        }

        .ellipse1 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 500px;
          border: 1px solid #888585;
          border-radius: 50%;
          background: #ffffff;
          padding: 20px 20px 23px;

          .crosshairs {
            width: 45px;
            height: 39px;
            overflow: hidden;
          }
        }
      }

      .autoWrapper3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .ellipse3 {
          display: flex;
          align-items: center;
          align-self: stretch;
          margin-right: 1px;
          margin-left: 1px;
          border: 1px solid #888585;
          border-radius: 50%;
          background: #84f684;
          padding: 29px 31px 28px 29px;
        }

        .ellipse2 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin: 499px 1px 0px;
          border: 1px solid #888585;
          border-radius: 50%;
          background: #ffffff;
          padding: 26px 26px 22px 25px;

          .filter {
            width: 34px;
            height: 34px;
            overflow: hidden;
          }
        }
      }
    }

    .rectangle7 {
      display: flex;
      position: absolute;
      bottom: -589px;
      left: 0;
      align-items: flex-start;
      border: 1px solid #888585;
      border-radius: 30px;
      background: #ffffff;
      padding: 17px 25px 730px;
      width: 393px;
      height: 799px;

      .rectangle1 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        border-radius: 100px;
        background: #c5c5c5;
        padding: 11px 20px 11px 21px;

        .whereTo {
          margin: 3px 0px 0px 4px;
          width: 73px;
          height: 22px;
          letter-spacing: 0;
          color: #000000;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 700;
        }

        .vector2 {
          margin-top: 3px;
          margin-left: 181px;
          width: 17px;
          height: 25px;
        }
      }
    }

    .line1 {
      position: absolute;
      top: 455px;
      left: 18px;
      background: #ee1313;
      width: 310px;
      height: 15px;
      rotate: 90deg;
    }

    .line2 {
      position: absolute;
      top: 387px;
      left: 140px;
      background: #26ee13;
      width: 293px;
      height: 15px;
      rotate: 40deg;
    }

    .line3 {
      position: absolute;
      top: 338px;
      left: 278px;
      background: #eed413;
      width: 115px;
      height: 15px;
      rotate: -50deg;
    }
  }
}
